@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "flowbite/plugin";

@source "./**/*.{html,js,svelte,ts}";
@source "../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}";
@source "../node_modules/flowbite/**/*.{html,js,svelte,ts}";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	color-scheme: light;
	--agi-morocco-teal: 12 116 117;
	--agi-morocco-indigo: 37 99 235;
	--agi-morocco-saffron: 217 119 6;
	--agi-morocco-terracotta: 185 28 28;
}

html.dark {
	color-scheme: dark;
}

::selection {
	background: rgb(15 23 42 / 0.12);
}

@layer base {
	html {
		@apply antialiased;
	}
}

@layer components {
	.agi-zellige-line {
		background-image: linear-gradient(
			90deg,
			rgb(var(--agi-morocco-teal)) 0%,
			rgb(var(--agi-morocco-teal)) 25%,
			rgb(var(--agi-morocco-indigo)) 25%,
			rgb(var(--agi-morocco-indigo)) 50%,
			rgb(var(--agi-morocco-saffron)) 50%,
			rgb(var(--agi-morocco-saffron)) 75%,
			rgb(var(--agi-morocco-terracotta)) 75%,
			rgb(var(--agi-morocco-terracotta)) 100%
		);
		background-size: 28px 1px;
		background-repeat: repeat;
		opacity: 0.65;
	}

	:where(.dark, .dark *) .agi-zellige-line {
		opacity: 0.5;
	}
}

html,
body {
	height: 100%;
}
